html,body {
    padding: 0;
    margin: 0;
}

header {
    height: 130px;
    width: 100%;
    background-color: rgb(233, 156, 147);
}

.top {
    margin-right: 30px;
    margin-top: 60px;
    display: inline-block;
    margin-left: 15px;
}

.middle-box {
    border: dotted black 5px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    padding-top: 15px;
}

.bottom-box{
    border: dotted black 5px;
    height: auto;
    margin: 10px;
    padding: 10px;
    padding-top: 15px;
}

.img1 {
    height: 180px;
    float: left;
    
}

.img2 {
    height: 150px;
    float: right;
    margin-right: 16px;
    margin-left: 13px;
}

p {
    font-display: inherit;
    font-size-adjust: inherit;
    font-size: large;
}